<div id="extra-info" class="expansion-panel-container">
  <mat-expansion-panel class="expansion-panel">
    <mat-expansion-panel-header>
      <mat-panel-title> Why Do I Need Electrolytes?</mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      Electrolytes are essential for hydration, and proper nerve functioning.

      <br />
      <br />
      A more detailed explanation on their functions can be found in this
      <a
        href="https://www.healthline.com/nutrition/electrolytes#functions"
        target="_blank"
        >article</a
      >
      , and this
      <a
        href="
      https://time2bebetter.com/how-to-mix-your-own-electrolyte-supplement-including-free-calculator-spreadsheet/"
        target="_blank"
        >blog post</a
      >
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel class="expansion-panel">
    <mat-expansion-panel-header>
      <mat-panel-title> What Are Good Electrolyte Ratios? </mat-panel-title>
    </mat-expansion-panel-header>
    <p>A typical composition looks something like this:</p>
    <ul>
      <li>Sodium: 1000 mg</li>
      <li>Potassium: 200 - 500 mg</li>
      <li>Magnesium: 25 - 75 mg</li>
    </ul>
    <p>
      For reference, you can check the ratios used by some well respected
      brands, like
      <a
        href="https://drinklmnt.com/pages/ingredients#ingredients"
        target="_blank"
        >LMNT</a
      >,
      <a href="https://solsupps.com/products/solsalts" target="_blank"
        >SolSalts</a
      >, and
      <a
        href="https://redmond.life/products/re-lyte-electrolyte-mix"
        target="_blank"
        >Redmond ReLyte</a
      >.
    </p>
    <p>
      Additionally, there is a great
      <a
        href="https://science.drinklmnt.com/electrolytes/lmnts-electrolyte-ratios-explained/?_gl=1*11fzhmh*_ga*MjY4NDY3NDE1LjE2NzI0OTMzNDU.*_ga_BKZV7MVXM7*MTY3MzYwMzg1Ni41LjEuMTY3MzYwNDg3MC4wLjAuMA.."
        >article</a
      >
      on the LMNT website, in which they explain in detail why they use the
      composition they use, based on research.
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel class="expansion-panel">
    <mat-expansion-panel-header>
      <mat-panel-title> Why Would I Mix My Own Electrolytes? </mat-panel-title>
    </mat-expansion-panel-header>
    <p>There are two main reasons to do so.</p>

    <p>
      <b>#1</b> In many countries, there are no well formualted electrolytes
      supplements available, but it is possible to get salt, potassium, and
      magnesium.
    </p>
    <p>
      <b>#2</b> It's generally much cheaper. As an example, 30 servings of the
      popular Electrolyte brand
      <a
        href="https://drinklmnt.com/products/lmnt-recharge-electrolyte-drink?variant=16358367199266"
        target="_blank"
        >LMNT</a
      >
      cost you $45 or $39 with subscription. Using the preset example above
      here, you could make 600 servings before you run out of the potassium
      supplement (just fill in 600 servings, and you see you'll use almost 500
      grams of potassium).
      <br />
      <br />
      Your total cost would be $19.95 for the potassium, $33.95 for the
      Magnesium, and $12 for salt, together $65.90.
      <br />
      <br />
      For the same 30 servings, that would be $3.30. This is without my applied
      discounts, and not taking into account that you would still have a lot
      Magnesium left over for the next batch.
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel class="expansion-panel">
    <mat-expansion-panel-header>
      <mat-panel-title> How Much Sodium Is There In Salt? </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Salt is roughly 40% Sodium, and 60% Chloride.</p>
  </mat-expansion-panel>

  <mat-expansion-panel class="expansion-panel">
    <mat-expansion-panel-header>
      <mat-panel-title> Which Salt Should I Choose? </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      Use one that is minimally processed, and doesn't have Iodine added to it.
      The finer the grain, the easier it will dissolve. Salts like Celtic Sea
      Salt or Pink Himalayan Salt contain additional trace minerals, but the
      amounts are so small they are not significant. Just use what is affordable
      and available to you.
    </p>
  </mat-expansion-panel>
</div>
