<form [formGroup]="calculatorForm" (ngSubmit)="onSubmit()">
  <!-- LEFT COLUMN -->

  <div class="form-column">
    <h2>Serving Size</h2>
    <label>Salt</label>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>amount in mg</mat-label>
        <input
          formControlName="saltSuppServing"
          matInput
          placeholder="Placeholder"
        />
      </mat-form-field>
    </p>

    <label>Magnesium Supplement</label>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>amount in mg</mat-label>
        <input
          formControlName="magSuppServing"
          matInput
          placeholder="Placeholder"
        />
      </mat-form-field>
    </p>

    <label>Potassium Supplement</label>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>amount in mg</mat-label>
        <input
          formControlName="potSuppServing"
          matInput
          placeholder="Placeholder"
        />
      </mat-form-field>
    </p>

    <label>Servings</label>
    <p>
      <mat-form-field appearance="outline">
        <mat-label></mat-label>
        <input formControlName="servings" matInput placeholder="Placeholder" />
      </mat-form-field>
    </p>
  </div>

  <!-- MIDDLE COLUMN -->
  <div class="form-column">
    <h2>Compound Per Serving</h2>
    <label>Sodium</label>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>amount in mg</mat-label>
        <input
          formControlName="saltInServing"
          matInput
          placeholder="Placeholder"
        />
      </mat-form-field>
    </p>

    <label>Magnesium</label>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>amount in mg</mat-label>
        <input
          formControlName="magInServing"
          matInput
          placeholder="Placeholder"
        />
      </mat-form-field>
    </p>

    <label>Potassium</label>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>amount in mg</mat-label>
        <input
          formControlName="potInServing"
          matInput
          placeholder="Placeholder"
        />
      </mat-form-field>
    </p>
  </div>

  <!-- RIGHT COLUMN -->
  <div class="form-column">
    <h2>Desired Ratios</h2>
    <label>Sodium</label>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>amount in mg</mat-label>
        <input
          formControlName="saltDesired"
          matInput
          placeholder="Placeholder"
        />
      </mat-form-field>
    </p>

    <label>Magnesium</label>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>amount in mg</mat-label>
        <input
          formControlName="magDesired"
          matInput
          placeholder="Placeholder"
        />
      </mat-form-field>
    </p>

    <label>Potassium</label>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>amount in mg</mat-label>
        <input
          formControlName="potDesired"
          matInput
          placeholder="Placeholder"
        />
      </mat-form-field>
    </p>
  </div>

  <!-- OUTCOME -->
  <div class="form-column" id="outcome-column">
    <h2 id="outcome-title">What To Mix</h2>
    <p>
      Take a kitchen scale and mix:
      <br />
      <br />
      {{ saltAmount | number }} grams of Salt
      <br />
      {{ magAmount | number : "1.1-1" }} grams of Magnesium
      <br />
      {{ potAmount | number : "1.1-1" }} grams of Potassium.
      <br />
      <br />
      Mix one serving size of {{ servingAmount | number : "1.1-1" }} grams
      <br />
      with 500 ml of water.
    </p>
    <br />
    <p>As a reference, a teaspoon is roughly 5 grams.</p>
  </div>

  <div class="break"></div>

  <button
    class="submit-button"
    mat-raised-button
    color="accent"
    type="submit"
    [disabled]="calculatorForm.invalid"
  >
    Submit
  </button>
</form>
