form {
  margin-top: 5%;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.form-column {
  display: flex;
  flex-direction: column;
  border-right: 1px solid;
  padding-right: 20px;
}

p {
  margin-bottom: 0;
  padding-bottom: 0;
}

label {
  margin-bottom: 5px;
}

div {
  margin-right: 20px;
}

mat-form-field {
  width: 100%;
}

h2 {
  text-align: center;
  font-size: 1.5vw;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.submit-button {
  margin-top: 20px;
  width: 100px;
  margin-right: auto;
}
